@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Update</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <header class="bg-black text-light p-3">
        <nav>
            <a href="/Students/GetAll" class="btn btn-primary">Get All</a>
            <a href="/Students/Create" class="btn btn-primary">Create</a>
            <a href="/Students/Update" class="btn btn-primary">Update</a>
            <a href="/Students/Delete" class="btn btn-primary">Delete</a>
        </nav>
    </header>
    <main class="px-3 py-5">
        <h1 class="text-danger">update student</h1>
    </main>
    <footer class="bg-secondary p-3">
        <h3>footer</h3>
    </footer>
</body>
</html>
